xcircuit
config.cache
config.status
config.log
Makefile
xcircuitexec
lib/tcl/xcircuit.sh
lib/tcl/xcircuit.tcl
lib/tcl/xcircuit.bat
lib/xcircuit.1
xcircuit.spec
*.o
*.so
*~
Xw/*.o
Xw/*.so
asg/*.o
asg/*.so
spiceparser/*.o
spiceparser/*.so
UPDATE_ME
VERSION
